*.py[cod]
*.so
*.pyc
__pycache__

*.egg
*.egg-info
/dist
/build
eggs
sdist
develop-eggs
.installed.cfg
/lib
/lib64
/logs

.project
.pydevproject
.settings
.coverage

/virtualenv
/env

*~

/upload.sh

/build
/files/ddd

*.logs